body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #F4F4F2;
  color: #40514E
}

/*100%=16px    therefore 90px=90%16 percent*/
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Corinthia', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  margin-top: 0;
  font-size: 2.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

hr {
  border-style: none;
  border-top: 10px;
  border-top-style: dotted;
  border-width: 7px;
  border-color: #E8E1D9;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #E8EAE6;
  position: relative;
  padding-top: 100px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.web-dev {
  float: left;
  margin-right: 30px;
}

.pizzas {
  float: right;
  margin-left: 30px;
}

.profile-pic {
  width: 15%;
  margin-bottom: 20px;
}

.bottom-container {
  margin-top: 20px;
  background-color: #11bfbf;
  padding: 50px 0 20px;
}

.middle-container {
  margin: 100px 0;
}

.contact-me {
  width: 60%;
  margin: 40px auto;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}
